<dialog id="dialog">
  <div class="flex-center-item">
    <p style="text-align: center;">{{ dialogMessage }}</p>
    <button class="raised-button" autofocus (click)="closeDialog()">DONE</button>
  </div>
</dialog>

<div class="card">
  <div class="image-container">
    <img *ngIf="imgPresent" [src]="imageBlob" />
    <div class="title">{{ device?.name }}</div>
  </div>
  <div>
    <div class="description-item">
      <label>Group:</label>
      <p>
        <b>{{ device?.groupType }}</b>
      </p>
    </div>
    <div class="description-item">
      <label>Type:</label>
      <p>
        <b>{{ deviceTypesMap.get(device.deviceType) }}</b>
      </p>
    </div>
<!--    <div class="description-item" *ngIf="device.deviceType != 'HOME_BATTERY' && device.deviceType != 'ELECTRIC_VEHICLE_CHARGER'">-->
<!--      <label>Active:</label>-->
<!--      <input-->
<!--        class="checkbox-square"-->
<!--        type="checkbox"-->
<!--        (change)="setActive()"-->
<!--        [(ngModel)]="deviceActive"/>-->
<!--    </div>-->
    <button class="raised-button" style="width: fit-content" (click)="openDevicePage()">Details</button>
    </div>
</div>
