.parameters-wrapper {
  display: flex;
  gap: 20px;
  padding: 10px;
  justify-content: space-between;
}

h2 {
  margin: 0 0 2px 10px;
  font-size: 20px;
}

.triggered-by-input {
  display: flex;
  gap: 10px;
}

button {
  height: 33px;
  width: fit-content;
  padding: 0 10px;
}

button > i {
  margin-top: 4px;
  color: rgba(var(--dark), 0.8);
}

.tooltip {
  position: relative;
  display: inline-block;
  cursor: default;
  font-size: 12px;
}

.tooltip .tooltiptext {
  visibility: hidden;
  padding: 0.25em 0.5em;
  background-color: rgba(var(--dark), 0.9);
  color: #fff;
  text-align: center;
  border-radius: 0.25em;
  white-space: pre-wrap;
  width: 300px;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: -145%;
  left: -50%;
  transition-property: visibility;
  transition-delay: 0s;
}

.tooltip .tooltiptext-little {
  max-width: 100px;
  top: -55%;
  left: -50%;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  transition-delay: 0.3s;
}

p {
  font-size: 14px;
  margin: 0;
  padding: 0;
  color: rgb(var(--error-color));
}
