.card-new {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

p {
  font-size: 20px;
  font-weight: 600;
  margin: 5px;
  color: rgb(var(--dark));
}

.obtained-permissions > h1 {
  margin-top: 40px;
  margin-bottom: 30px;
}
