.grid-spacing-columns {
  display: grid;
  grid-template-columns: 30% 70%;
  align-items: start;
  overflow-y: hidden;
}

.card {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  margin: 16px;
  text-align: center;
}

.charge-status-container {
  overflow-x: hidden;
  max-height: 57vh;
}

.charge-status {
  margin: 50px 20px;
}

.charge-border {
  border: 2px solid #222222;
  border-radius: 25px;
  overflow: hidden;
}

.charge-limit {

}

.charge-limit>* {
  display: inline-block;
  margin-right: 15px;
}

.charge-limit>button {

}

.change-charge-limit {
  border: 1px dashed #222;
  padding: 2px 10px;
  border-radius: 15px;
}

.change-charge-limit:hover {
  background-color: #eee;
  cursor: pointer;
  border: 1px solid #222;
}

.flex-items-center {
  display: flex;
  justify-content: left;
  align-items: center;
}

/* actions table style classes */
.simple-table {
  width: 100%;
  border-collapse: collapse;
}

.simple-table th, .simple-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

.simple-table th {
  background-color: #f5f5f5;
}

.simple-table tbody tr:hover {
  background-color: #f2f2f2;
}

.toggle-container {
  margin-top: 10px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.toggle-container label {
  margin-right: 10px;
}

.graphs-container {
  margin: 20px;
}

.custom-select {
  margin-right: 20px;
}

select {
  width: 250px;
  padding: 18px;
  font-size: 18px;
  margin-top: 25px;
}

.flex-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
}

.custom-select {
  margin-right: 20px;
}

.display-button {
  margin-right: 20px;
}

.next-graph-button {
  margin-left: auto;
}

button {
  background-color: rgb(219,117,83);
  margin-top: 38px;
}

label {
  font-size: 16px;
  margin-bottom: 10px;
  display: block;
  color: #333;
}

input[type="date"] {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 200px;
}

.switch {
  display: flex;
  justify-content: flex-end;
  margin: 20px;
}

.temperature-container {
  position: fixed;
  width: 100%;
  bottom: 0;
  padding: 20px;
}

.temperature-value {
  font-size: 2em;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.temperature-change {
  font-size: 1.2em;
  color: #555;
}

.temperature-up {
  color: #e74c3c;
}

.temperature-down {
  color: #3498db;
}

