/* Toggle switch styles */
.toggle-container {
  margin-top: 10px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.toggle-container label {
  margin-right: 10px;
}

.graphs-container {
  margin: 20px;
}

.custom-select {
  margin-right: 20px;
}

select {
  width: 250px;
  padding: 18px;
  font-size: 18px;
  margin-top: 25px;
}

.flex-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
}

.custom-select {
  margin-right: 20px;
}

.display-button {
  margin-right: 20px;
}

.next-graph-button {
  margin-left: auto;
}

button {
  background-color: rgb(219,117,83);
  margin-top: 38px;
}

label {
  font-size: 16px;
  margin-bottom: 10px;
  display: block;
  color: #333;
}

input[type="date"] {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 200px;
}

.switch {
  display: flex;
  justify-content: flex-end;
  margin: 20px;
}

.temperature-container {
  /*position: fixed;*/
  width: 100%;
  bottom: 0;
  padding: 20px;
}

.temperature-value {
  font-size: 2em;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.temperature-change {
  font-size: 1.2em;
  color: #555;
}

.temperature-up {
  color: #e74c3c;
}

.temperature-down {
  color: #3498db;
}

